manifest {
  description = 'HTSinfer testing pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  htsinfer_out_dir = "${projectDir}/results_htsinfer/"
  sra_out_dir = "${projectDir}/results_sra_downloads/"
}

params {
  tsv = "${projectDir}/samples/htsinfer_sra_samples_table.tsv"
  run_mode = "htsinfer"
  records = 0
  threads = 8
  read_min_percent = 0.1
  read_min_freq = 2
  lib_min_percent = 5
  lib_min_freq = 2
  lib_max_dist = 1000
  lib_mates_cutoff = 0.85
  read_orient_min_mapped = 20
  read_orient_min_freq = 0.75
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
    executor.submitRateLimit = '1/15sec'
  }
  singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${HOME}/.singularity/cache/library"
    libraryDir = "${HOME}/.singularity/cache/library"
  }
  conda {
    conda.enabled = true
    process.conda = "${HOME}/miniconda3/envs/htsinfer"
  }
}