process {
    
    // standard settings if not specified otherwise
    
    executor = 'slurm'
    clusterOptions = "--qos=30min"
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    time = { 5.m * task.attempt }
    memory = { 1.GB * task.attempt }
    cpus = 4
}

