process {
    executor = 'slurm'
    errorStrategy = { task.exitStatus in 2..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    time = { 24.h * task.attempt }
    clusterOptions = { task.attempt > 1 ? "--qos=1week" : "--qos=1day" }
    memory = { 32.GB * task.attempt }
    cpus = 8
    queueSize = 1
}

